<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something Went Wrong</title>
    <link rel="stylesheet" href="./static/finance.css"> 
</head>
<body class="error-page-body">

    <main class="error-container">
        <h2 class="error-title">Oops! Looks like something went wrong!</h2>
        <img class="error-image" src="ConstructionCat.png" alt="Construction Cat">
    </main>

</body>
</html>
